@mixin border($side , $value) {
    @if $side == 'all' {
        border : $value ;
    } 
    @else {
        border-#{$side} : $value ;
    }
}

@mixin padding($side , $value) {
    @if $side == 'all' {
        padding : $value ;
    } 
    @else {
        padding-#{$side} : $value ;
    }
}

@mixin margin($side , $value) {
    @if $side == 'all' {
        margin : $value ;
    } 
    @else {
        margin-#{$side} : $value ;
    }
}