<link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v20.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/home/sliderShow/style.css">


<div class="main-page-body">

    <div class="allSliders-container">

        <div class="sliderShows" id="sliderShows">
            <div class="sliderShow active">
                <div class="numbertext">1 / 3</div>
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/Bestselling_PB_JUN21.jpg" width="100%" />
                <div class="text">متن اسلاید اول</div>
            </div>
            <div class="sliderShow">
                <div class="numbertext">2 / 3</div>
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/Bestselling_PB_JUN21.jpg" width="100%">
                <div class="text">متن اسلاید دوم</div>
            </div>
            <div class="sliderShow">
                <div class="numbertext">3 / 3</div>
                <img src="https://www.signalz.com/sites/default/files/styles/page_558x332/public/AdobeStock_84313015sm.jpg?itok=3JOJxsVf" width="100%">
                <div class="text">متن اسلاید سوم</div>
            </div>
        </div>

        <%- include(viewPath('layouts/slider') , {books , repeatNumber : 6}) %>



    </div>

    <div class="sidebar">
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/BTS_RS.jpeg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>

        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/PrideMonth_JUN_496.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/BLOG_496.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/Manga_Store_496x324.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/Taschen_HP.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/Languages_sidebar_blank.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>
        <div class="card">
            <h3 class="card-title"> عنوان کارد </h3>
            <img class="card-picture" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/content/librosespanol496x324.jpg" alt="sidebarImage" >
            <p class="card-info">لورم ایپیسوم متن نامفهوم برای استفاده</p>
        </div>

    </div>

</div>


<script src="/js/sliderShow/slider.js"></script>
<script src="/js/sliderShow/scirpt.js"></script>