<% if(validErrors.length > 0){  %> 
    <div class="validErrors"   >
        <button type="button" id="close" class="close" ><i class="fa fa-times"></i></button>
        <% validErrors.forEach((error)=>{ %>
            <%= error %> <br />
        <% }) %> 
    </div>

    <script>

        document.getElementById('close').addEventListener("click", function() {
            this.parentElement.style.display = 'none';
        });
        
    </script>

<% }%>