<div class="usePanel-submenu">
    <div class="submenu-item">
        <a href="/user/panel">
            <div class="submenu-item-step">
                ۱
            </div>
            <span>اطلاعات حساب</span>
        </a>
    </div>
    <div class="submenu-item">
        <a href="/user/phonenumber" >
            <div class="submenu-item-step">
                ۲
            </div>
            <span>مدیریت شماره موبایل</span>
        </a>
    </div>
    <div class="submenu-item">
        <a href="/user/password" >
            <div class="submenu-item-step">
                ۳
            </div>
            <span>مدیریت رمز عبور</span>
        </a>
    </div>
    <div class="submenu-item">
        <a href="/user/sessionManager" >
            <div class="submenu-item-step">
                ۴
            </div>
            <span>مدیریت نشست ها</span>
        </a>
    </div>
</div>