<div class="userPanel">

    <%- include(viewPath('home/userPanel/panelMenu')) %>

    <div class="userPanel-dashboard">

        <%- include(viewPath('home/userPanel/panelSubmenu')) %>

        <div class="userPanel-body">
            <div class="userPanel-body-title">
                <h3>ویرایش رمز عبور</h3>
            </div>

            <hr id="horizental-role">

            <%- include(viewPath('layouts/validMessages')) %>

            <div id="edit-user-form" >

                <form action="/user/confirmPassword" method="post"  enctype="application/x-www-form-urlencoded">

                    <label for="password">رمز عبور فعلی</label>
                    <input type="text" name="password"  placeholder="رمز عبور فعلی را دراینجا وارد کنید" />

                    <div class="buttons">
                        <button type="submit" style="margin-left: 0;">بررسی</button>
                    </div>

                </form>

                <% if(valid){ %> 
                    <form action="/user/changePassword" method="post" enctype="application/x-www-form-urlencoded">

                        <label for="newPassword">رمز عبور جدید</label>
                        <input type="text" name="newPassword"  placeholder="رمز عبور جدید را دراینجا وارد کنید" />

                        <label for="newPasswordRepeat">تکرار رمز عبور جدید</label>
                        <input type="text" name="newPasswordRepeat"  placeholder="رمز عبور جدید را دراینجا تکرار کنید" />

                        <div class="buttons">
                            <button type="submit" style="margin-left: 0;">ثبت اطلاعات</button>
                        </div>

                    </form>
                <% } %>

            </div>

        </div>

    </div>
    
</div>