
<%- include(viewPath('layouts/validMessages')) %>

<div class="forms-container" style="width: auto;">
    <form action='/auth/forgotpassword' method="post" class="form login"  style="align-items: center;">
        <!-- <h2>ورورد</h2> -->
        <p style="margin: 20px 0;">ایمیل خود را وارد کنید تا لینک بازیابی رمز عبور برایتان ارسال شود</p>

            <div class="tooltip">
                <input type="text" name="email"  class="tooltip auth-input"  placeholder="ایمیل" <% if(old("email")){ %>value='<%= old("email") %>' <% } %> %> " >
                <div class="tooltiptext"> 
                    ایمیل باید معتبر باشد
                </div>
            </div>

            <%- recaptcha %> 
        <button type="submit">ارسال لینک</button>

    </form>

</div>
<script>
document.getElementById('close').addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
</script>