
<%- include(viewPath('layouts/validMessages')) %>

<div class="forms-container" style="width: auto;">
    <form action='/auth/password/reset' method="post" class="form login"  style="align-items: center;">
        <h2>بازیابی رمز عبور</h2>
        <p style="margin: 20px 0;">رمز جدید خود را برای بازیابی وارد کنید</p>

        <input type="hidden" name="token" value="<%= token %>">

        <div class="tooltip">
            <input type="text" name="email"  class="tooltip auth-input"  placeholder="ایمیل" <% if(old("email")){ %>value='<%= old("email") %>' <% } %> %> " >
            <div class="tooltiptext"> 
                ایمیل باید معتبر باشد
            </div>
        </div>

        <div class="tooltip">
            <input type="password" name="password"  class="auth-input passinput" placeholder="رمز عبور">
            <div class="tooltiptext"> 
                رمز عبور باید حداقل ۸ کاراکتر باشد و حداقل دارای ۱ حرف کوچک و حرف بزرگ و عدد باشد
            </div>
            <!-- <i class="fa fa-eye togglePassword" onclick="typeChanger()"></i> -->

        </div>

        <%- recaptcha %> 
        <button type="submit">بازیابی</button>

    </form>

</div>
<script>
document.getElementById('close').addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
</script>